services:
  db:
    image: postgres:16-alpine
    container_name: logtech_db
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: logtech_platform
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: logtech_redis
    restart: always
    ports:
      - "6379:6379"

  adminer:
    image: adminer
    container_name: logtech_adminer
    restart: always
    ports:
      - "8080:8080"

volumes:
  postgres_data:
